ble_pack shiftRegisterClkInstance.shiftClkGeneratorInstance.counter_0_LC_5_9_1 { shiftRegisterClkInstance.shiftClkGeneratorInstance.counter_RNO[0], shiftRegisterClkInstance.shiftClkGeneratorInstance.counter[0] }
ble_pack shiftRegisterClkInstance.shiftClkGeneratorInstance.counter_1_LC_5_9_2 { shiftRegisterClkInstance.shiftClkGeneratorInstance.counter_RNO[1], shiftRegisterClkInstance.shiftClkGeneratorInstance.counter[1] }
ble_pack shiftRegisterClkInstance.shiftClkGeneratorInstance.shiftClk_LC_5_9_3 { shiftRegisterClkInstance.shiftClkGeneratorInstance.shiftClk_RNO, shiftRegisterClkInstance.shiftClkGeneratorInstance.shiftClk }
ble_pack shiftRegisterClkInstance.feedRegisterInstance.dataOut_LC_5_9_4 { shiftRegisterClkInstance.feedRegisterInstance.dataOut_RNO, shiftRegisterClkInstance.feedRegisterInstance.dataOut }
ble_pack shiftRegisterClkInstance.shiftClkGeneratorInstance.shiftClk_RNIS42N_LC_5_9_6 { shiftRegisterClkInstance.shiftClkGeneratorInstance.shiftClk_RNIS42N }
ble_pack shiftRegisterClkInstance.shiftRegisterLatchClkinstance.outputCounter_RNO_0_1_LC_5_9_7 { shiftRegisterClkInstance.shiftRegisterLatchClkinstance.outputCounter_RNO_0[1] }
clb_pack LT_5_9 { shiftRegisterClkInstance.shiftClkGeneratorInstance.counter_0_LC_5_9_1, shiftRegisterClkInstance.shiftClkGeneratorInstance.counter_1_LC_5_9_2, shiftRegisterClkInstance.shiftClkGeneratorInstance.shiftClk_LC_5_9_3, shiftRegisterClkInstance.feedRegisterInstance.dataOut_LC_5_9_4, shiftRegisterClkInstance.shiftClkGeneratorInstance.shiftClk_RNIS42N_LC_5_9_6, shiftRegisterClkInstance.shiftRegisterLatchClkinstance.outputCounter_RNO_0_1_LC_5_9_7 }
set_location LT_5_9 5 9
ble_pack shiftRegisterClkInstance.shiftRegisterLatchClkinstance.outputCounter_RNO_0_0_LC_5_10_0 { shiftRegisterClkInstance.shiftRegisterLatchClkinstance.outputCounter_RNO_0[0] }
ble_pack shiftRegisterClkInstance.shiftRegisterLatchClkinstance.outputCounter_0_LC_5_10_1 { shiftRegisterClkInstance.shiftRegisterLatchClkinstance.outputCounter_RNO[0], shiftRegisterClkInstance.shiftRegisterLatchClkinstance.outputCounter[0] }
ble_pack shiftRegisterClkInstance.shiftRegisterLatchClkinstance.outputCounter_1_LC_5_10_2 { shiftRegisterClkInstance.shiftRegisterLatchClkinstance.outputCounter_RNO[1], shiftRegisterClkInstance.shiftRegisterLatchClkinstance.outputCounter[1] }
ble_pack shiftRegisterClkInstance.shiftClkGeneratorInstance.counter_2_LC_5_10_4 { shiftRegisterClkInstance.shiftClkGeneratorInstance.counter_RNO[2], shiftRegisterClkInstance.shiftClkGeneratorInstance.counter[2] }
ble_pack shiftRegisterClkInstance.feedBackCounterInstance.feedBackOut_RNI5CJ3_LC_5_10_5 { shiftRegisterClkInstance.feedBackCounterInstance.feedBackOut_RNI5CJ3 }
ble_pack shiftRegisterClkInstance.feedBackCounterInstance.feedBackOut_LC_5_10_6 { shiftRegisterClkInstance.feedBackCounterInstance.feedBackOut_RNO, shiftRegisterClkInstance.feedBackCounterInstance.feedBackOut }
clb_pack LT_5_10 { shiftRegisterClkInstance.shiftRegisterLatchClkinstance.outputCounter_RNO_0_0_LC_5_10_0, shiftRegisterClkInstance.shiftRegisterLatchClkinstance.outputCounter_0_LC_5_10_1, shiftRegisterClkInstance.shiftRegisterLatchClkinstance.outputCounter_1_LC_5_10_2, shiftRegisterClkInstance.shiftClkGeneratorInstance.counter_2_LC_5_10_4, shiftRegisterClkInstance.feedBackCounterInstance.feedBackOut_RNI5CJ3_LC_5_10_5, shiftRegisterClkInstance.feedBackCounterInstance.feedBackOut_LC_5_10_6 }
set_location LT_5_10 5 10
ble_pack shiftRegisterClkInstance.shiftRegisterLatchClkinstance.counter_2_LC_6_9_0 { shiftRegisterClkInstance.shiftRegisterLatchClkinstance.counter_RNO[2], shiftRegisterClkInstance.shiftRegisterLatchClkinstance.counter[2] }
ble_pack shiftRegisterClkInstance.shiftRegisterLatchClkinstance.counter_0_LC_6_9_1 { shiftRegisterClkInstance.shiftRegisterLatchClkinstance.counter_RNO[0], shiftRegisterClkInstance.shiftRegisterLatchClkinstance.counter[0] }
ble_pack shiftRegisterClkInstance.shiftRegisterLatchClkinstance.counter_1_LC_6_9_2 { shiftRegisterClkInstance.shiftRegisterLatchClkinstance.counter_RNO[1], shiftRegisterClkInstance.shiftRegisterLatchClkinstance.counter[1] }
ble_pack shiftRegisterClkInstance.shiftRegisterLatchClkinstance.counter_3_LC_6_9_3 { shiftRegisterClkInstance.shiftRegisterLatchClkinstance.counter_RNO[3], shiftRegisterClkInstance.shiftRegisterLatchClkinstance.counter[3] }
clb_pack LT_6_9 { shiftRegisterClkInstance.shiftRegisterLatchClkinstance.counter_2_LC_6_9_0, shiftRegisterClkInstance.shiftRegisterLatchClkinstance.counter_0_LC_6_9_1, shiftRegisterClkInstance.shiftRegisterLatchClkinstance.counter_1_LC_6_9_2, shiftRegisterClkInstance.shiftRegisterLatchClkinstance.counter_3_LC_6_9_3 }
set_location LT_6_9 6 9
ble_pack shiftRegisterClkInstance.feedBackCounterInstance.counter_RNO_0_3_LC_6_10_0 { shiftRegisterClkInstance.feedBackCounterInstance.counter_RNO_0[3] }
ble_pack shiftRegisterClkInstance.feedBackCounterInstance.counter_3_LC_6_10_1 { shiftRegisterClkInstance.feedBackCounterInstance.counter_RNO[3], shiftRegisterClkInstance.feedBackCounterInstance.counter[3] }
ble_pack shiftRegisterClkInstance.feedBackCounterInstance.counter_2_LC_6_10_2 { shiftRegisterClkInstance.feedBackCounterInstance.counter_RNO[2], shiftRegisterClkInstance.feedBackCounterInstance.counter[2] }
ble_pack shiftRegisterClkInstance.feedBackCounterInstance.counter_0_LC_6_10_3 { shiftRegisterClkInstance.feedBackCounterInstance.counter_RNO[0], shiftRegisterClkInstance.feedBackCounterInstance.counter[0] }
ble_pack shiftRegisterClkInstance.feedBackCounterInstance.counter_1_LC_6_10_4 { shiftRegisterClkInstance.feedBackCounterInstance.counter_RNO[1], shiftRegisterClkInstance.feedBackCounterInstance.counter[1] }
ble_pack RESET_ibuf_RNI8T16_LC_6_10_6 { RESET_ibuf_RNI8T16 }
ble_pack shiftRegisterClkInstance.shiftRegisterLatchClkinstance.counter_RNO_0_3_LC_6_10_7 { shiftRegisterClkInstance.shiftRegisterLatchClkinstance.counter_RNO_0[3] }
clb_pack LT_6_10 { shiftRegisterClkInstance.feedBackCounterInstance.counter_RNO_0_3_LC_6_10_0, shiftRegisterClkInstance.feedBackCounterInstance.counter_3_LC_6_10_1, shiftRegisterClkInstance.feedBackCounterInstance.counter_2_LC_6_10_2, shiftRegisterClkInstance.feedBackCounterInstance.counter_0_LC_6_10_3, shiftRegisterClkInstance.feedBackCounterInstance.counter_1_LC_6_10_4, RESET_ibuf_RNI8T16_LC_6_10_6, shiftRegisterClkInstance.shiftRegisterLatchClkinstance.counter_RNO_0_3_LC_6_10_7 }
set_location LT_6_10 6 10
set_location CLOCK_16_ibuf_gb_io_gb 0 17
set_io SHIFT_CLK H9
set_io RESET E1
set_io LATCH_CLK D9
set_io CLOCK_16 B2
set_io BUTTON G2
