ble_pack ShiftRegisterInstance.data_4_LC_2_2_1 { ShiftRegisterInstance.data_4_THRU_LUT4_0, ShiftRegisterInstance.data[4] }
ble_pack ShiftRegisterInstance.data_7_LC_2_2_2 { ShiftRegisterInstance.data_7_THRU_LUT4_0, ShiftRegisterInstance.data[7] }
ble_pack ShiftRegisterInstance.data_2_LC_2_2_3 { ShiftRegisterInstance.data_2_THRU_LUT4_0, ShiftRegisterInstance.data[2] }
ble_pack ShiftRegisterInstance.data_3_LC_2_2_4 { ShiftRegisterInstance.data_3_THRU_LUT4_0, ShiftRegisterInstance.data[3] }
ble_pack ShiftRegisterInstance.data_6_LC_2_2_6 { ShiftRegisterInstance.data_6_THRU_LUT4_0, ShiftRegisterInstance.data[6] }
ble_pack ShiftRegisterInstance.data_5_LC_2_2_7 { ShiftRegisterInstance.data_5_THRU_LUT4_0, ShiftRegisterInstance.data[5] }
clb_pack LT_2_2 { ShiftRegisterInstance.data_4_LC_2_2_1, ShiftRegisterInstance.data_7_LC_2_2_2, ShiftRegisterInstance.data_2_LC_2_2_3, ShiftRegisterInstance.data_3_LC_2_2_4, ShiftRegisterInstance.data_6_LC_2_2_6, ShiftRegisterInstance.data_5_LC_2_2_7 }
set_location LT_2_2 2 2
ble_pack rst_ibuf_RNIUUM5_LC_3_1_4 { rst_ibuf_RNIUUM5 }
clb_pack LT_3_1 { rst_ibuf_RNIUUM5_LC_3_1_4 }
set_location LT_3_1 3 1
ble_pack ShiftRegisterInstance.data_1_LC_3_2_0 { ShiftRegisterInstance.data_1_THRU_LUT4_0, ShiftRegisterInstance.data[1] }
ble_pack ShiftRegisterInstance.data_0_LC_3_2_5 { ShiftRegisterInstance.data_0_THRU_LUT4_0, ShiftRegisterInstance.data[0] }
clb_pack LT_3_2 { ShiftRegisterInstance.data_1_LC_3_2_0, ShiftRegisterInstance.data_0_LC_3_2_5 }
set_location LT_3_2 3 2
set_location clk_sr_ibuf_gb_io_gb 0 17
set_io rst J1
set_io data_out H2
set_io data_in H1
set_io clk_sr G2
