set_location IN_MUX_bfv_2_15_0_ 2 15 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_2_16_0_ 2 16 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_2_17_0_ 2 17 0 #ICE_CARRY_IN_MUX
set_location OneSecondPeriodPulseInstance.un5_count_cry_15_c 2 16 6 #SB_CARRY
set_location OneSecondPeriodPulseInstance.count_RNO[11] 2 16 2 #SB_LUT4
set_location OneSecondPeriodPulseInstance.count[12] 2 16 3 #SB_DFFSR
set_location OneSecondPeriodPulseInstance.count_RNI5M6GA[19] 1 16 2 #SB_LUT4
set_location OneSecondPeriodPulseInstance.count[19] 2 17 2 #SB_DFFSR
set_location OneSecondPeriodPulseInstance.count[0] 1 16 6 #SB_DFFSR
set_location OneSecondPeriodPulseInstance.un5_count_cry_1_c 2 15 0 #SB_CARRY
set_location OneSecondPeriodPulseInstance.out_RNO_2 1 17 0 #SB_LUT4
set_location OneSecondPeriodPulseInstance.out_RNO 1 17 2 #SB_LUT4
set_location OneSecondPeriodPulseInstance.count_RNO[6] 2 15 5 #SB_LUT4
set_location OneSecondPeriodPulseInstance.count[17] 2 17 0 #SB_DFFSR
set_location OneSecondPeriodPulseInstance.un5_count_cry_8_c 2 15 7 #SB_CARRY
set_location OneSecondPeriodPulseInstance.un5_count_cry_7_c 2 15 6 #SB_CARRY
set_location OneSecondPeriodPulseInstance.out_RNO_0 1 17 1 #SB_LUT4
set_location OneSecondPeriodPulseInstance.count_RNO[4] 2 15 3 #SB_LUT4
set_location OneSecondPeriodPulseInstance.count_RNO[15] 2 16 6 #SB_LUT4
set_location OneSecondPeriodPulseInstance.count_RNIL8S63[19] 1 17 7 #SB_LUT4
set_location OneSecondPeriodPulseInstance.un5_count_cry_14_c 2 16 5 #SB_CARRY
set_location OneSecondPeriodPulseInstance.un5_count_cry_13_c 2 16 4 #SB_CARRY
set_location OneSecondPeriodPulseInstance.count[15] 2 16 6 #SB_DFFSR
set_location OneSecondPeriodPulseInstance.count_RNO[17] 2 17 0 #SB_LUT4
set_location OneSecondPeriodPulseInstance.count_RNICJBI1[8] 1 15 2 #SB_LUT4
set_location OneSecondPeriodPulseInstance.count[5] 2 15 4 #SB_DFFSR
set_location OneSecondPeriodPulseInstance.un5_count_cry_9_c 2 16 0 #SB_CARRY
set_location OneSecondPeriodPulseInstance.un5_count_cry_17_c 2 17 0 #SB_CARRY
set_location OneSecondPeriodPulseInstance.un5_count_cry_16_c 2 16 7 #SB_CARRY
set_location OneSecondPeriodPulseInstance.count_RNO[3] 2 15 2 #SB_LUT4
set_location OneSecondPeriodPulseInstance.count_RNI6DN71[9] 1 17 5 #SB_LUT4
set_location OneSecondPeriodPulseInstance.count[13] 2 16 4 #SB_DFFSR
set_location OneSecondPeriodPulseInstance.un5_count_cry_5_c 2 15 4 #SB_CARRY
set_location OneSecondPeriodPulseInstance.count_RNO[8] 2 15 7 #SB_LUT4
set_location OneSecondPeriodPulseInstance.count_RNO[19] 2 17 2 #SB_LUT4
set_location OneSecondPeriodPulseInstance.count_RNI22GA1[1] 1 16 0 #SB_LUT4
set_location OneSecondPeriodPulseInstance.count[7] 2 15 6 #SB_DFFSR
set_location OneSecondPeriodPulseInstance.un5_count_cry_11_c 2 16 2 #SB_CARRY
set_location OneSecondPeriodPulseInstance.out 1 17 2 #SB_DFF
set_location OneSecondPeriodPulseInstance.count_RNO[10] 2 16 1 #SB_LUT4
set_location OneSecondPeriodPulseInstance.count_RNO[1] 1 16 4 #SB_LUT4
set_location OneSecondPeriodPulseInstance.count[8] 2 15 7 #SB_DFFSR
set_location OneSecondPeriodPulseInstance.count[11] 2 16 2 #SB_DFFSR
set_location OneSecondPeriodPulseInstance.un5_count_cry_3_c 2 15 2 #SB_CARRY
set_location OneSecondPeriodPulseInstance.un5_count_cry_2_c 2 15 1 #SB_CARRY
set_location OneSecondPeriodPulseInstance.count[18] 2 17 1 #SB_DFFSR
set_location OneSecondPeriodPulseInstance.count[1] 1 16 4 #SB_DFFSR
set_location OneSecondPeriodPulseInstance.un5_count_cry_18_c 2 17 1 #SB_CARRY
set_location OneSecondPeriodPulseInstance.out_RNO_1 1 17 4 #SB_LUT4
set_location OneSecondPeriodPulseInstance.count_RNO[7] 2 15 6 #SB_LUT4
set_location OneSecondPeriodPulseInstance.count_RNO[12] 2 16 3 #SB_LUT4
set_location OneSecondPeriodPulseInstance.un5_count_cry_4_c 2 15 3 #SB_CARRY
set_location OneSecondPeriodPulseInstance.count[3] 2 15 2 #SB_DFFSR
set_location OneSecondPeriodPulseInstance.count[16] 2 16 7 #SB_DFFSR
set_location OneSecondPeriodPulseInstance.un5_count_cry_10_c 2 16 1 #SB_CARRY
set_location OneSecondPeriodPulseInstance.count_RNO[5] 2 15 4 #SB_LUT4
set_location OneSecondPeriodPulseInstance.count_RNO[14] 2 16 5 #SB_LUT4
set_location OneSecondPeriodPulseInstance.count_RNII07Q1[14] 1 17 6 #SB_LUT4
set_location OneSecondPeriodPulseInstance.count[4] 2 15 3 #SB_DFFSR
set_location GND -1 -1 -1 #GND
set_location OneSecondPeriodPulseInstance.count_RNO[2] 2 15 1 #SB_LUT4
set_location OneSecondPeriodPulseInstance.count_RNICC0L2[1] 1 16 1 #SB_LUT4
set_location OneSecondPeriodPulseInstance.count[14] 2 16 5 #SB_DFFSR
set_location OneSecondPeriodPulseInstance.un5_count_cry_12_c 2 16 3 #SB_CARRY
set_location OneSecondPeriodPulseInstance.count_RNO[16] 2 16 7 #SB_LUT4
set_location OneSecondPeriodPulseInstance.count_RNIUJIC3[8] 1 16 3 #SB_LUT4
set_location OneSecondPeriodPulseInstance.count[6] 2 15 5 #SB_DFFSR
set_location OneSecondPeriodPulseInstance.count_RNO[0] 1 16 6 #SB_LUT4
set_location OneSecondPeriodPulseInstance.un5_count_cry_6_c 2 15 5 #SB_CARRY
set_location OneSecondPeriodPulseInstance.count_RNO[9] 2 16 0 #SB_LUT4
set_location OneSecondPeriodPulseInstance.count_RNO[18] 2 17 1 #SB_LUT4
set_location OneSecondPeriodPulseInstance.count_RNIAAGA1[5] 1 15 4 #SB_LUT4
set_location OneSecondPeriodPulseInstance.count_RNO[13] 2 16 4 #SB_LUT4
set_location OneSecondPeriodPulseInstance.count[9] 2 16 0 #SB_DFFSR
set_location OneSecondPeriodPulseInstance.count[10] 2 16 1 #SB_DFFSR
set_location OneSecondPeriodPulseInstance.count_RNII07Q1[12] 1 16 7 #SB_LUT4
set_location OneSecondPeriodPulseInstance.count[2] 2 15 1 #SB_DFFSR
set_io userInput J1
set_io timer_out H2
set_io clk B2
