ble_pack OneSecondPeriodPulseInstance.count_RNICJBI1_8_LC_1_15_2 { OneSecondPeriodPulseInstance.count_RNICJBI1[8] }
ble_pack OneSecondPeriodPulseInstance.count_RNIAAGA1_5_LC_1_15_4 { OneSecondPeriodPulseInstance.count_RNIAAGA1[5] }
clb_pack LT_1_15 { OneSecondPeriodPulseInstance.count_RNICJBI1_8_LC_1_15_2, OneSecondPeriodPulseInstance.count_RNIAAGA1_5_LC_1_15_4 }
set_location LT_1_15 1 15
ble_pack OneSecondPeriodPulseInstance.count_RNI22GA1_1_LC_1_16_0 { OneSecondPeriodPulseInstance.count_RNI22GA1[1] }
ble_pack OneSecondPeriodPulseInstance.count_RNICC0L2_1_LC_1_16_1 { OneSecondPeriodPulseInstance.count_RNICC0L2[1] }
ble_pack OneSecondPeriodPulseInstance.count_RNI5M6GA_19_LC_1_16_2 { OneSecondPeriodPulseInstance.count_RNI5M6GA[19] }
ble_pack OneSecondPeriodPulseInstance.count_RNIUJIC3_8_LC_1_16_3 { OneSecondPeriodPulseInstance.count_RNIUJIC3[8] }
ble_pack OneSecondPeriodPulseInstance.count_1_LC_1_16_4 { OneSecondPeriodPulseInstance.count_RNO[1], OneSecondPeriodPulseInstance.count[1] }
ble_pack OneSecondPeriodPulseInstance.count_0_LC_1_16_6 { OneSecondPeriodPulseInstance.count_RNO[0], OneSecondPeriodPulseInstance.count[0] }
ble_pack OneSecondPeriodPulseInstance.count_RNII07Q1_12_LC_1_16_7 { OneSecondPeriodPulseInstance.count_RNII07Q1[12] }
clb_pack LT_1_16 { OneSecondPeriodPulseInstance.count_RNI22GA1_1_LC_1_16_0, OneSecondPeriodPulseInstance.count_RNICC0L2_1_LC_1_16_1, OneSecondPeriodPulseInstance.count_RNI5M6GA_19_LC_1_16_2, OneSecondPeriodPulseInstance.count_RNIUJIC3_8_LC_1_16_3, OneSecondPeriodPulseInstance.count_1_LC_1_16_4, OneSecondPeriodPulseInstance.count_0_LC_1_16_6, OneSecondPeriodPulseInstance.count_RNII07Q1_12_LC_1_16_7 }
set_location LT_1_16 1 16
ble_pack OneSecondPeriodPulseInstance.out_RNO_2_LC_1_17_0 { OneSecondPeriodPulseInstance.out_RNO_2 }
ble_pack OneSecondPeriodPulseInstance.out_RNO_0_LC_1_17_1 { OneSecondPeriodPulseInstance.out_RNO_0 }
ble_pack OneSecondPeriodPulseInstance.out_LC_1_17_2 { OneSecondPeriodPulseInstance.out_RNO, OneSecondPeriodPulseInstance.out }
ble_pack OneSecondPeriodPulseInstance.out_RNO_1_LC_1_17_4 { OneSecondPeriodPulseInstance.out_RNO_1 }
ble_pack OneSecondPeriodPulseInstance.count_RNI6DN71_9_LC_1_17_5 { OneSecondPeriodPulseInstance.count_RNI6DN71[9] }
ble_pack OneSecondPeriodPulseInstance.count_RNII07Q1_14_LC_1_17_6 { OneSecondPeriodPulseInstance.count_RNII07Q1[14] }
ble_pack OneSecondPeriodPulseInstance.count_RNIL8S63_19_LC_1_17_7 { OneSecondPeriodPulseInstance.count_RNIL8S63[19] }
clb_pack LT_1_17 { OneSecondPeriodPulseInstance.out_RNO_2_LC_1_17_0, OneSecondPeriodPulseInstance.out_RNO_0_LC_1_17_1, OneSecondPeriodPulseInstance.out_LC_1_17_2, OneSecondPeriodPulseInstance.out_RNO_1_LC_1_17_4, OneSecondPeriodPulseInstance.count_RNI6DN71_9_LC_1_17_5, OneSecondPeriodPulseInstance.count_RNII07Q1_14_LC_1_17_6, OneSecondPeriodPulseInstance.count_RNIL8S63_19_LC_1_17_7 }
set_location LT_1_17 1 17
ble_pack OneSecondPeriodPulseInstance.un5_count_cry_1_c_LC_2_15_0 { OneSecondPeriodPulseInstance.un5_count_cry_1_c }
ble_pack OneSecondPeriodPulseInstance.count_2_LC_2_15_1 { OneSecondPeriodPulseInstance.count_RNO[2], OneSecondPeriodPulseInstance.count[2], OneSecondPeriodPulseInstance.un5_count_cry_2_c }
ble_pack OneSecondPeriodPulseInstance.count_3_LC_2_15_2 { OneSecondPeriodPulseInstance.count_RNO[3], OneSecondPeriodPulseInstance.count[3], OneSecondPeriodPulseInstance.un5_count_cry_3_c }
ble_pack OneSecondPeriodPulseInstance.count_4_LC_2_15_3 { OneSecondPeriodPulseInstance.count_RNO[4], OneSecondPeriodPulseInstance.count[4], OneSecondPeriodPulseInstance.un5_count_cry_4_c }
ble_pack OneSecondPeriodPulseInstance.count_5_LC_2_15_4 { OneSecondPeriodPulseInstance.count_RNO[5], OneSecondPeriodPulseInstance.count[5], OneSecondPeriodPulseInstance.un5_count_cry_5_c }
ble_pack OneSecondPeriodPulseInstance.count_6_LC_2_15_5 { OneSecondPeriodPulseInstance.count_RNO[6], OneSecondPeriodPulseInstance.count[6], OneSecondPeriodPulseInstance.un5_count_cry_6_c }
ble_pack OneSecondPeriodPulseInstance.count_7_LC_2_15_6 { OneSecondPeriodPulseInstance.count_RNO[7], OneSecondPeriodPulseInstance.count[7], OneSecondPeriodPulseInstance.un5_count_cry_7_c }
ble_pack OneSecondPeriodPulseInstance.count_8_LC_2_15_7 { OneSecondPeriodPulseInstance.count_RNO[8], OneSecondPeriodPulseInstance.count[8], OneSecondPeriodPulseInstance.un5_count_cry_8_c }
clb_pack LT_2_15 { OneSecondPeriodPulseInstance.un5_count_cry_1_c_LC_2_15_0, OneSecondPeriodPulseInstance.count_2_LC_2_15_1, OneSecondPeriodPulseInstance.count_3_LC_2_15_2, OneSecondPeriodPulseInstance.count_4_LC_2_15_3, OneSecondPeriodPulseInstance.count_5_LC_2_15_4, OneSecondPeriodPulseInstance.count_6_LC_2_15_5, OneSecondPeriodPulseInstance.count_7_LC_2_15_6, OneSecondPeriodPulseInstance.count_8_LC_2_15_7 }
set_location LT_2_15 2 15
ble_pack OneSecondPeriodPulseInstance.count_9_LC_2_16_0 { OneSecondPeriodPulseInstance.count_RNO[9], OneSecondPeriodPulseInstance.count[9], OneSecondPeriodPulseInstance.un5_count_cry_9_c }
ble_pack OneSecondPeriodPulseInstance.count_10_LC_2_16_1 { OneSecondPeriodPulseInstance.count_RNO[10], OneSecondPeriodPulseInstance.count[10], OneSecondPeriodPulseInstance.un5_count_cry_10_c }
ble_pack OneSecondPeriodPulseInstance.count_11_LC_2_16_2 { OneSecondPeriodPulseInstance.count_RNO[11], OneSecondPeriodPulseInstance.count[11], OneSecondPeriodPulseInstance.un5_count_cry_11_c }
ble_pack OneSecondPeriodPulseInstance.count_12_LC_2_16_3 { OneSecondPeriodPulseInstance.count_RNO[12], OneSecondPeriodPulseInstance.count[12], OneSecondPeriodPulseInstance.un5_count_cry_12_c }
ble_pack OneSecondPeriodPulseInstance.count_13_LC_2_16_4 { OneSecondPeriodPulseInstance.count_RNO[13], OneSecondPeriodPulseInstance.count[13], OneSecondPeriodPulseInstance.un5_count_cry_13_c }
ble_pack OneSecondPeriodPulseInstance.count_14_LC_2_16_5 { OneSecondPeriodPulseInstance.count_RNO[14], OneSecondPeriodPulseInstance.count[14], OneSecondPeriodPulseInstance.un5_count_cry_14_c }
ble_pack OneSecondPeriodPulseInstance.count_15_LC_2_16_6 { OneSecondPeriodPulseInstance.count_RNO[15], OneSecondPeriodPulseInstance.count[15], OneSecondPeriodPulseInstance.un5_count_cry_15_c }
ble_pack OneSecondPeriodPulseInstance.count_16_LC_2_16_7 { OneSecondPeriodPulseInstance.count_RNO[16], OneSecondPeriodPulseInstance.count[16], OneSecondPeriodPulseInstance.un5_count_cry_16_c }
clb_pack LT_2_16 { OneSecondPeriodPulseInstance.count_9_LC_2_16_0, OneSecondPeriodPulseInstance.count_10_LC_2_16_1, OneSecondPeriodPulseInstance.count_11_LC_2_16_2, OneSecondPeriodPulseInstance.count_12_LC_2_16_3, OneSecondPeriodPulseInstance.count_13_LC_2_16_4, OneSecondPeriodPulseInstance.count_14_LC_2_16_5, OneSecondPeriodPulseInstance.count_15_LC_2_16_6, OneSecondPeriodPulseInstance.count_16_LC_2_16_7 }
set_location LT_2_16 2 16
ble_pack OneSecondPeriodPulseInstance.count_17_LC_2_17_0 { OneSecondPeriodPulseInstance.count_RNO[17], OneSecondPeriodPulseInstance.count[17], OneSecondPeriodPulseInstance.un5_count_cry_17_c }
ble_pack OneSecondPeriodPulseInstance.count_18_LC_2_17_1 { OneSecondPeriodPulseInstance.count_RNO[18], OneSecondPeriodPulseInstance.count[18], OneSecondPeriodPulseInstance.un5_count_cry_18_c }
ble_pack OneSecondPeriodPulseInstance.count_19_LC_2_17_2 { OneSecondPeriodPulseInstance.count_RNO[19], OneSecondPeriodPulseInstance.count[19] }
clb_pack LT_2_17 { OneSecondPeriodPulseInstance.count_17_LC_2_17_0, OneSecondPeriodPulseInstance.count_18_LC_2_17_1, OneSecondPeriodPulseInstance.count_19_LC_2_17_2 }
set_location LT_2_17 2 17
set_location clk_ibuf_gb_io_gb 0 17
set_location OneSecondPeriodPulseInstance.count_RNI5M6GA_0[19] 0 16
set_io userInput J1
set_io timer_out H2
set_io clk B2
